[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
falcon = "*"
gunicorn = "*"
jsonlogging = "*"
python-json-logger = "*"
pytest = "*"

[requires]
python_version = "3.7"
